@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');

body {
    font-family: 'Noto Serif Display', serif;
    font-weight: bold;
    position: relative;
}
.title {
    display: flex;
    justify-content: center;
}
.experience {
    display: flex;
    justify-content: center;
}

.feedbackContainer {
    margin: 100px 100px;
}

.btn{
    margin-top: 30px;
    background-color: #61da99;
    color: #fff;
    font-weight: bold;
    border-color: #61da99;
}
.btn button:hover {
    background-image: linear-gradient(101deg, #61da99, #61da99);
    color: #fff;
  }
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
  .body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }