@import './themecolor.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.footer {
  background: var(--themecolor);
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.footer .column {
  width: 30%;
  margin: 0% 1%;
  display: inline-block;
}

.footer .column ul {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0 !important;
}

.footer .column ul li {
  list-style: none;
  padding: 5px 0px;
  color: #fff;
}

.footer .column ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  transition: 0.5s;
}

.footer .column ul li a:hover {
  color: #61da99;
}

.footer .column ul .title {
  font-size: 1.2em;
  color: #fff;
}

.footer .column ul li input {
  padding: 10px 5px;
  outline: none;
  border: 0;
  width: 70%;
  height: 40px;
  color: #1e1e1e;
}

.sdEmailBtn {
  outline: none;
  border: 0;
  padding: 5px;
  height: 34px;
  font-size: 0.5em;
}

.footer .column ul li i {
  font-size: 1.5em;
}

.sub-footer {
  background: var(--themecolor);
  padding: 5px 0px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 720px) {
  .footer .column {
    width: 90%;
    display: block;
    margin: 0% 0%;
  }

  .footer .column:nth-child(2),
  .footer .column:nth-child(3) {
    width: 40%;
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .footer .column ul li input {
    padding: 5px 5px;
    outline: none;
    border: 0;
    width: 70%;
    height: 34px;
    color: #1e1e1e;
  }
  .footer .column ul li .btn1 {
    position: relative;
    top: 2px;
  }
}

@media (max-width: 940px) {
  .footer .column ul li input {
    padding: 5px 5px;
    outline: none;
    border: 0;
    width: 60%;
    height: 34px;
    color: #1e1e1e;
  }
  .footer .column ul li .btn1 {
    position: relative;
    top: 2px;
  }
}
