@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2.3vw;
}
body {
  background-color: #fafbfc;
  margin: 0;
}
.title-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-container div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.title-container img {
  height: 60vh;
  margin-left: 15vw;
}
.carousel {
  background-color: #fff;
  padding: 30px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000;
  display: inline-block;
  border-radius: 18px;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.carousel-item-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}
.carousel-item-overlay button {
  margin-bottom: 20%;
}
.carousel-item-overlay:hover {
  opacity: 1;
}
.carousel-inner {
  height: 80vh;
}
.carousel-item {
  height: 100%;
  justify-content: center;
  position: relative;
}
.carousel-item button {
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.38);
  background-image: linear-gradient(101deg, #69bf98, #5fd797);
}
.carousel-item button:hover {
  background-image: linear-gradient(101deg, #61da99, #61da99);
}
.carousel-item img {
  height: 100%;
  box-shadow: 0px 0px 16px 0px #000000;
}
.container {
  margin-top: 70px;
}
.center {
  margin: 0 auto;
}

.home-page-revamp .section-heading {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .benefits-item {
    width: 47%;
  }
}

.benefits-item {
  width: 28%;
  margin-bottom: 50px;
}

.benefits-icon,
.benefits-item {
  margin-bottom: 15px;
}



.footer .column ul li {
  list-style: none;
  padding: 5px 0px;
  color: #fff;
}

.footer .column ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  transition: 0.5s;
}

.footer .column ul li a:hover {
  color: #3329f4;
}

.footer .column ul .title {
  font-size: 1.2em;
  color: #fff;
}

.footer .column ul li input {
  padding: 10px 5px;
  outline: none;
  border: 0;
  width: 70%;
  height: 40px;
  color: #1e1e1e;
}

.footer .column ul li .btn1 {
  outline: none;
  border: 0;
  padding: 5px;
  color: #fff;
  width: 60px;
  height: 60px;
  position: relative;
  /* top: 1px; */
  font-size: 0.5em;
  background: #3329f4;
}

.footer .column ul li i {
  font-size: 2em;
  margin: 0px 10px;
}

.sub-footer {
  background: #1e1e1e;
  padding: 5px 0px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: 'Play', sans-serif;
}

@media (max-width: 720px) {
  .footer .column {
    width: 90%;
    display: block;
    margin: 0% 0%;
  }

  .footer .column:nth-child(2),
  .footer .column:nth-child(3) {
    width: 40%;
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .footer .column ul li input {
    padding: 5px 5px;
    outline: none;
    border: 0;
    width: 70%;
    height: 34px;
    color: #1e1e1e;
  }
  .footer .column ul li .btn1 {
    position: relative;
    top: 2px;
  }
}

@media (max-width: 940px) {
  .footer .column ul li input {
    padding: 5px 5px;
    outline: none;
    border: 0;
    width: 60%;
    height: 34px;
    color: #1e1e1e;
  }
  .footer .column ul li .btn1 {
    position: relative;
    top: 2px;
  }
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
