@import url(https://fonts.google.com/specimen/Montserrat#standard-styles);

* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background: #176ca5;
  font-family: 'Open Sans';
} */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
}
#signin {
  padding: 3em;
  margin: 1em;
  border-radius: 1em;
  text-align: center;
  background: white;
  box-shadow: 0px 0px 11px 1px #00000030;
  color: rgba(0, 0, 0, 0.75);
}

#signin h1,
#signin button {
  font-weight: 300;
  text-transform: uppercase;
}

#signin input,
#signin button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  padding: 1ex;
  border: 2px solid #ecf0f1;
  transition: border ease 500ms;
  border-radius: 1ex;
  font-family: 'Open Sans';
  background: #ecf0f1;
  color: #181818;
}

#signin input:focus,
#signin button:focus {
  outline: none;
  border: 2px solid var(--themecolor);
}

#signin input:not(:last-child),
#signin button:not(:last-child) {
  margin-bottom: 1ex;
}
#signin button {
  color: white;
  border: none;
  background: #61da99;
  margin-bottom: 10px;
}
#signin button:hover {
  /* background-image: linear-gradient(101deg, #61da99, #61da99); */
  color: #fff;
}

.signupnow {
  margin-top: 10px;
}
