@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './themecolor.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.display-none {
  display: none;
}

.brand a {
  font-size: 30px;
}

.logo {
  height: 40px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--themecolor);
  z-index: 1000;
  position: fixed;
  top: 0;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-style: none !important;
}
/* .nav li {
  display: flex;
  align-items: center;
} */
#search {
  border-radius: 10px;
  outline: none;
  border: none;
  opacity: 0.8;
  padding: 8px 10px;
  margin-left: 10px;
}

.fa-globe-americas {
  font-size: 25px;
  float: right;
  display: none;
}

@media only screen and (max-width: 957px) {
  .nav ul {
    display: block;
    padding: 0;
  }

  .brand {
    margin: 0 auto;
  }

  nav {
    position: fixed;
    top: 80px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    z-index: -1;
    display: none;
  }

  nav li {
    padding: 15px;
    text-align: center;
  }

  nav li:hover {
    background-color: bisque;
  }

  .fa-globe-americas {
    display: block;
    z-index: 100;
  }

  .show {
    display: block;
  }
}
