@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&family=Open+Sans&family=Source+Sans+Pro:wght@700&display=swap');
body {
  background-color: #d3e5ce;
}

b {
  color:#ff5e00;
}

button {
  margin: 15px 0px 0px 10px;
  font-family: laila;
  font-weight: bold;
  color: #48a684;
  border: 2px solid #48a684;
  border-radius: 5px;
  transition: 0.2s;
  padding: 0px;
  height: 50px;
  width: 40px;
  text-align: center;
}

footer {
background-color: #ffffff;
justify-content: center;
text-align: center;
align-items: center;
}

.h1 {
  font-size: 40px;
  font-family: source sans pro;
  color: #48a684;
  text-align: center;
  transition: 1s;
  -webkit-text-stroke: transparent;
}
.slid {
  background-color: white;
  padding: 10px;
  margin-top: 0px;
  border-radius: 15px;
}
h1 {
  color: white;
  font-family: laila;
  -webkit-text-stroke: 0.1px white;
  font-size: 45px;
  font-weight: bold;
}
p {
  font-size: 18px;
  font-family: open sans;
  text-align: center;
  color: grey;
  margin-top: 50px;
}
.menu {
  margin: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

.mockinterview {
  margin: 20px;
  font-size: 20px;
}

#start,
#stop,
#record,
#play,
#download,
#showtime {
  border: 2px solid #48a684;
    text-transform: uppercase;
    width: 200px;
    transition: 0.5s;
    padding: 10px 5px 10px 5px;
    border-radius: 5px !important;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: sticky;
}

.AI {
  background-color: #ffe54f;
  font-size: 25px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  position: sticky;
}

.row {
  margin-top: 10px;
  display: flex;
  border-radius: 0% !important;
  font-size: 15px;
  margin: 70px 0px 30px 0px !important;
  line-height: normal;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  font-size: 15px;
  line-height: normal;
  padding: 0px 0px 15px 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: sticky;
}

#format {
  color: #5bbb81;
  font-size: 15px;
}

#mediaBox,
#replayBox {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.finalResult {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}