@import url('https://fonts.googleapis.com/css?family=Roboto:100,400|Raleway:100');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  color: #000;
  /* font-size: 20px; */
}
ul {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.col-left {
  flex-basis: 60%;
}
.col-right {
  flex-basis: 40%;
  margin-left: 20px;
}
.right {
  text-align: right;
}
.page {
  padding: 50px;
  margin: 140px 50px 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
}
h1,
h2 {
  text-transform: uppercase;
  font-size: 3.3em;
  margin: 0;
}
h2 {
  margin-top: 20px;
  font-size: 2em;
  border-bottom: 4px solid;
}
h3 {
  font-size: 1.5em;
  font-family: Raleway;
  margin-bottom: 0;
}
h4 {
  margin: 10px 0 6px;
  font-size: 1.2em;
  color: #2db27e;
}
section.title {
  padding-bottom: 10px;
}
section.title .role {
  color: #2db27e;
  font-size: 2em;
}
section.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: right;
}
section.photo img {
  width: 200px;
  position: absolute;
  left: 0;
  top: -65px;
}
section.contact ul {
  list-style: none;
  padding: 0;
}
section.contact ul li {
  float: left;
  display: inline;
  width: 50%;
  padding: 4px 0;
  font-weight: bold;
}
section.contact ul li i {
  color: #2db27e;
  padding: 0 3px;
  width: 15px;
  text-align: center;
}
section .item {
  padding-bottom: 20px;
  margin-right: 10px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}
section.languages .item {
  display: flex;
  padding-bottom: 0;
}
section.languages h4 {
  flex-grow: 1;
  margin: 14px 0 0 0;
}
section.languages p {
  color: rgba(0, 0, 0, 0.5);
}
.when,
.where {
  font-weight: 100;
  font-size: 10pt;
  padding: 0 15px 10px 0;
}
.text {
  font-size: 11pt;
}
.text p {
  margin: 0;
}
.text ul {
  padding: 0 0 0 25px;
  margin: 0;
}
.item.progress {
  width: calc(50% - 10px);
}
ul.progress li {
  -webkit-print-color-adjust: exact;
  display: inline-block;
  width: calc(10% - 4px);
  height: 7px;
  background-color: #000;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}
ul.progress li.active {
  background-color: #2db27e;
  border-color: #2db27e;
}
ul.box li {
  display: inline-block;
  border: 1px solid;
  padding: 2px 4px;
  margin: 0 2px 5px 0;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: 0 5px 30px #00000029;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}
@media print {
  .page {
    margin: 0;
    padding: 2px;
    box-shadow: none;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    margin: 4px 0 0 0;
  }
  h4 {
    margin: 2px 0 2px 0;
  }
  section.photo {
    width: 150px;
    height: 150px;
  }
  section.photo img {
    width: 160px;
    position: absolute;
    left: -10px;
    top: -50px;
  }
  section .item {
    padding-bottom: 5px;
  }
}

#jobtitle {
  font-size: 20px;
}

#companyname {
  font-size: 20px;
}

#jobstartyear,
#jobendyear {
  font-size: 15px;
}

#educationContainer {
  font-size: 20px;
}

#schoolname {
  color: #2db27e;
}
