@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f9fbfa;
}

.display-none {
  display: none;
}
.main-container {
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 100px;
}
#profileForm {
  padding: 50px 0 50px 30px;
}
#profileForm .buttons {
  display: flex;
}
#profileForm .formItem {
  /* border: 1px solid #000; */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
.main-container img {
  margin-top: 75px;
}
#profileForm .formItem button {
  border: none;
  background-color: #00000000;
}
#profileForm .formItem button svg {
  height: 25px;
  width: 25px;
}
.buttons button {
  display: flex;
  margin-bottom: 0;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 10px;
  border-radius: 10px;
  /* background-image: linear-gradient(101deg, #69bf98, #5fd797); */
  margin-right: 10px;
}
.buttons button:hover {
  background-image: linear-gradient(101deg, #61da99, #61da99);
  color: #fff;
}
.year {
  display: flex;
}
.main-container li {
  display: block;
  margin-bottom: 30px;
}
input,
textarea {
  border: none;
  background-color: #fff;
  border-bottom: 2px solid rgb(101, 101, 101);
  margin-bottom: 5px;
  padding: 10px;
}

input {
  height: 50px;
  width: 50vh;
}
.year input {
  width: auto;
}
textarea {
  height: 70px;
  width: 40vw;
  resize: none;
}
.skillSetContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 270px;
  width: 450px;
}
.skillSetContainer div {
  margin: 10px;
}
.skillSetContainer input {
  margin-right: 5px;
}
.skill-container input {
  height: 20px;
  width: 20px;
}
input:focus,
textarea:focus {
  outline: none;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.workDelBtn,
.educationDelBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 15px;
  background-color: #efefef !important;
  font-size: 15px;
}
.workDelBtn:hover,
.educationDelBtn:hover {
  background-image: linear-gradient(101deg, #61da99, #61da99);
  color: #fff;
}
@media (max-width: 414px) {
  .main-container {
    display: block;
  }
}
